@using BlogParkTestPro.Model;
@model List<BlogParkTestPro.Model.LogCategory>
@{
    Layout = null;
}
<script>editorPickStat(); aggSite.user.getUserInfo();</script>
<script type="text/javascript">
    var aggSiteModel = { "CategoryType": "SiteHome", "ParentCategoryId": 0, "CategoryId": 808, "PageIndex": 1, "ItemListActionName": "PostList" };
</script>
<div id="cate_title_block">
    <div id="cate_title_title">
        <ul id="cate_item">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    string idstr = "cate_item_" + item.CategoryID.ToString();
                    string over = "cateShow(" + item.CategoryID.ToString() + ")";
                    string hidden = "cateHidden(" + item.CategoryID.ToString() + ")";
                    <li id="@idstr" onmouseover="@over" onmouseout="@hidden"><a href="#">@item.CategoryName</a></li>
                }
            }
        </ul>
        <div class="cate_bottom"></div>
    </div>
</div>



