@using BlogParkTestPro.Model;
@model List<BlogParkTestPro.Model.LogCategory>
@{
    Layout = null;
}
<dl>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            string idstr = "idMenu2_" + item.CategoryID.ToString();
            <dd id="@idstr"><a href="#">@item.CategoryName</a></dd>
        }
    }
</dl>


