@using BlogParkTestPro.Model;
@model List<BlogParkTestPro.Model.LogCategory>
@{
    Layout = null;
}
<ol>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li>@item.CategoryName</li>
        }
    }
</ol>
<p>afeadhgidtrhewgoihewrgeworgd oievbadiufvbad ifvew rughwu wsghsadfighdfsvblkjhdslrughrqegrevhvrrehn</p>